* {margin: 0px; padding 0px;}

body {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;

	background: black;
}

a:hover{
	color: red;
}

#content {
color: white;
font-size:36px;
}

#pass {
font-size: 50px;
text-align: center;
line-height: 100vh;
color: white;
opacity: 0;
}

#secret-message {color: red;}

#messageholder {color: black; position: fixed;
bottom: 0px;
left: 0px;
z-index: 10000;
background: white;
font-weight: bold;
font-family: helvetica; 
}

.column {
width: 600px;
display: inline-block;
vertical-align: bottom;
font-weight: normal;
font-family: helvetica; 

}
#title {
position:
top: 0px;
left: 0px;
font-size: 70px;
font-weight: bold;
font-family: helvetica; 
margin-top:20px;
margin-bottom:40px;

}

#title2 {
	position: absolute;
	top: 260px;
	right: -400px;
	transform: rotate(90deg);
	transform-origin: top left;
	font-weight: bold;
font-family: helvetica; 
}

}